@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Johan's Fenomenala SkivSida.COM</h1>
    <p>Här kan man absolut logga skivor</p>

</div>
